.loading-line {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    animation: animation-line-LightColor 0.5s forwards, animation-line-Colors 4s linear infinite;
    z-index: 9000 !important;
}

/* Animation Line LightColor*/
@keyframes animation-line-LightColor {

    0% {
        padding-right: 0%;
    }
    100% {
        padding-right: 100%;
    }
}

@keyframes animation-line-Colors {
    100%, 0% {
        background-color: rgb(255, 0, 0);
    }
    8% {
        background-color: rgb(255, 0, 166);
    }
    16% {
        background-color: rgb(127, 0, 255);
    }
    25% {
        background-color: rgb(72, 0, 255);
    }
    33% {
        background-color: rgb(0, 127, 255);
    }
    41% {
        background-color: rgb(0, 255, 255);
    }
    50% {
        background-color: rgb(0, 255, 127);
    }
    58% {
        background-color: rgb(0, 255, 0);
    }
    66% {
        background-color: rgb(127, 255, 0);
    }
    75% {
        background-color: rgb(255, 255, 0);
    }
    83% {
        background-color: rgb(255, 127, 0);
    }
    91% {
        background-color: rgb(255, 0, 127);
    }
}

.text-divider {
    display: flex;
    align-items: center;
    --text-divider-gap: 1rem;
    margin-bottom: 10px;
}

.text-divider .text-divider-text {
    background: rgba(0, 0, 0, 0.3);
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
}

.text-divider::before,
.text-divider::after {
    content: '';
    height: 1px;
    background-color: #343434;
    flex-grow: 1;
}

.text-divider::before {
    margin-right: var(--text-divider-gap);
}

.text-divider::after {
    margin-left: var(--text-divider-gap);
}

.click {
    cursor: pointer;
}
